<div class="container">
    <!--{{ project.project_final_accept_qty|default_if_none:'' }}-->
    <!--<a class="btn btn-sm btn-info" href="{% url 'update_project_to_ip_pdf_view' project.id %}">fill IP</a>-->
    <!--<a href="{% url 'update_project_to_ip_pdf_view' project.id %}">fill IP</a>-->
    <!--<a href="{% url 'update_project_view_send_mail' project.id %}" target="_blank">send mail</a>-->
    <!--<a href="{% url 'update_project_view_send_mail_trf_pac' project.id %}" target="_blank">TRF to PAC</a>-->
    <!--<a href="{% url 'update_project_to_dhr_review_annex_1_view' project.id %}" target="_blank">DHR review w/o Annex 1</a>-->

    <!--<a href="{% url 'update_supplier_product' projects.0.supplier_info.supplier.supplier_keyword projects.0.project_info.product.part_number_formal %}" >-->
    <!--    {{ projects.0.supplier_info.supplier.supplier_keyword|default_if_none:'' }} +-->
    <!--    {{ projects.0.project_info.product.part_number_formal|default_if_none:'' }}-->
    <!--</a>-->

<!--    <a href="#input-product-form">Jump to Input Product Form</a>-->
<!--    <a href="#input-supplier-form">Jump to Input Supplier Form</a>-->
<!--    <a href="#input-supplier-product-form">Jump to Input Supplier Product Form</a>-->

<!--    <a href="#input-product-form" id="showUpdateProductForm">Show Update Product Form</a>-->
<!--    <a href="#input-supplier-form" id="showUpdateSupplierForm">Show Update Supplier Form</a>-->
<!--    <a href="#input-supplier-product-form" id="showUpdateSupplierProductForm">Show Update Supplier Product Form</a>-->

<!--    <a href="{{ projects.0.project_info.product.part_edhr|default_if_none:'#' }}" target="_blank">-eDHR</a>-->



</div>

