<p> Website map / urls list for coding</p>
<p></p>
<a href="{% url 'admin:index' %}">admin</a> <br><!--go to admin webpage-->
<br>
<a href="{% url 'home' %}">home</a><br>
<a href="{% url 'input_project' %}">input_project</a><br>
<a href="{% url 'input_product' %}">input_product</a><br>
<a href="{% url 'input_supplier' %}">input_supplier</a><br>
<a href="{% url 'input_supplier_product' %}">input_supplier_product</a><br>
<p></p>
<a href="{% url 'input_receiving' %}">input_receiving</a><br>
<a href="{% url 'input_receiving_supplier' %}">input_receiving_supplier</a><br>
<p></p>
<a href="{% url 'input_new_project_by_lot_num' %}">input_new_project_by_lot_num</a><br>
<a href="{% url 'project_list' %}">project_list</a><br>
<a href="{% url 'ongoing_project_list' %}">ongoing_project_list</a><br>
<p></p>
<a href="{% url 'upload' %}" target="_blank">upload files</a><br>
<p></p>
<a href="{% url 'logout' %}">logout</a><br>
<a href="{% url 'register' %}" target="_blank">register</a><br>
<a href="{% url 'password_change' %}" target="_blank">change password</a><br>
<p></p>
<a href="{% url 'export_products_to_excel' %}">Export Products to Excel</a><br>
<a href="{% url 'import_products_excel' %}">Import_products_excel</a><br>


<p></p>

<p>http://127.0.0.1:8000/project/</p>
<p>http://127.0.0.1:8000/project/27/</p>
<p>http://127.0.0.1:8000/project/27/update</p>
<p>http://127.0.0.1:8000/send_mail_web/</p>

